<ion-header translucent="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">{{appName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="login(f)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="2" size-md="1" class="ion-margin-top">
          <ion-img style="filter:drop-shadow(0px 0px 15px darkgreen);"
            src="../../../assets/images/tf-logo-file-final-3.svg">
          </ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-bottom">
        <ion-col>
          <ion-text class="ion-text-center">
            <h4>Please Sign in</h4>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-label position="floating">User Id</ion-label>
            <ion-input type="email" name="user" required email ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" name="password" required ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin">
        <ion-col size-md="6" offset-md="3">
          <ion-button type="submit" color="primary" expand="block">Sign In
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-button type="button" color="primary" fill="clear" expand="block"
            [routerLink]="['/','auth','forgot-password']">Forgot Password</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer class="ion-no-border ion-margin-bottom">
  <ion-title size="small" color="medium" class="ion-text-center">v{{ appVersion }} &copy; {{ orgName }}</ion-title>
</ion-footer>
