<ion-header>
  <ion-toolbar>
    <ion-title>Switch Location</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list lines="none">
          <ion-item *ngFor="let location of locations" (click)="switchLocation(location)" button detail>
            <ion-label [color]="currentLocation === location ? 'tertiary':'dark'">{{ location }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
