<ion-header>
  <ion-toolbar>
    <ion-title>Active Seasons</ion-title>
    <ion-title size="small">
      <ion-text color="tertiary">{{ currentLocation }}</ion-text>
    </ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <div *ngIf="haveSeasons; else noSeasons">
          <app-season *ngFor="let s of activeSeasons" [season]="s.season"
            [routerLink]="['/','observation','planned-crops',s.planId]" [buttonDetail]="true"></app-season>
        </div>
        <ng-template #noSeasons>
          <ion-item lines="none">
            <ion-label>No Seasons planned</ion-label>
          </ion-item>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
